<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log In/Sign Up</title>
    <link rel="stylesheet" href="CSS\style.css">
</head>
<body>
    <div class="container1">
        <div id="page1" >
             <div id="mainheader" >
                <a href="page2.html" id="headerLink" style="position:absolute;margin-top:-420px;font-size:50px;margin-left:-500px;text-decoration: none; color: inherit">expresso</a>
                      
            </div>
            <div id="inputbox1" style="box-shadow: none;left:300px;height:450px;">
                <a id="overtext" style="margin-top:40px;margin-left:30px">Login to your account:</a>
                <div id="inputdiv" style="margin-top:50px;margin-left:70px">
                    <form action="/login" method="POST">
                    <a id="overtext" style="font-size:15px;margin-top:20px;color:black;margin-left:-60px; width:300px">Enter your email address:</a>
                    <input type="text" style="margin-top:40px" id="email1" placeholder="'shaurya.sharma20xx@vitstudent.ac.in'">
                    <a id="overtext" style="font-size:15px;margin-top:20px;color:black;margin-left:-60px">Enter your Password:</a>
                    <a id="overtext" href ="SignUp.hbs"style="font-size:15px;margin-top:140px;margin-left:200px;color:black;text-decoration:none;width:200px">Make an account</a>
                    <input type="password" style="margin-top:40px" id="password1" placeholder="password">
                    
                    <input type="submit" id="#overtextSubLog" style="margin-top:50px;width:150px;text-align: center;border-radius: 20px;height:40px;background-color: white;">
                    </form>
                </div>
                


            </div>
        
            
        </div>
    </div>
    
    
</body>
</html>