<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="CSS\style.css">
</head>
<body>
    <div id="page1" >
             <div id="mainheader" >
                <a href="page2.html" id="headerLink" style="position:absolute;margin-top:-420px;font-size:50px;margin-left:-500px;text-decoration: none; color: inherit">expresso</a>
                      
            </div>
            <div id="inputbox1" style="box-shadow: none;height:650px;">
                <a id="overtext" style="margin-top:40px;margin-left:30px">Start your journey with expresso:</a>
                <div id="inputdiv" style="margin-top:100px;margin-left:70px">
                    <form action="/signup" method="POST">
                    <a id="overtext" style="font-size:15px;margin-top:-10px;color:black;margin-left:-60px">Enter your Firstname:</a>
                    <input type="text" id="fname" name="fname" placeholder="For Eg= 'Shaurya'" >
                    <a id="overtext" style="font-size:15px;margin-top:20px;color:black;margin-left:-60px">Enter your Lastname:</a>
                    <input type="text"  style="margin-top:40px" id="lname" name="lname" placeholder="'Sharma'">
                    <a id="overtext" style="font-size:15px;margin-top:20px;color:black;margin-left:-60px">Enter your Username:</a>
                    <input type="text" style="margin-top:40px" id="username" name="username" placeholder="'Shaurya1010'">
                    <a id="overtext" style="font-size:15px;margin-top:20px;color:black;margin-left:-60px; width:300px">Enter your email address:</a>
                    <input type="text" style="margin-top:40px" id="email" name="email" placeholder="'shaurya.sharma20xx@vitstudent.ac.in'">
                    <a id="overtext" style="font-size:15px;margin-top:20px;color:black;margin-left:-60px">Enter your Password:</a>
                    <input type="password" style="margin-top:40px" id="password" name="password" placeholder="password">
                    
                    
                    
                        <input type="submit" id="#overtextSubSig" style="margin-top:60px;width:400%;text-align: center;border-radius: 20px;background-color: white;">
                   
                    </form>
                </div>


            </div>
    </div>

</body>
</html>